table tr{
  text-align: left;
  font-size: 1.2em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
th{
  font-weight: lighter;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 0.5em;
}
.sem{
  border-right: none !important;
}
table input{
  background-color: #F5F5F5;
  border: none;
  padding: 1em;
}
td{
  padding: 1em;
  border-right: 1px solid black;
}