header, footer{
  display: flex;
  align-items: center;
  min-height:50px;
}
header{
  justify-content: space-between;
}
header div{
  width: 40%;
}
.margem{
  width: 1140px;
  position: relative;
  margin: 0 auto;
  font-family: 'Jura', sans-serif;
}
footer img{
  width: 200px;  
}
footer{
  /*box-shadow: 5px 10px 20px 0 rgba(0,0,0,.1);*/
  border-top: 1px solid black;
  justify-content: space-around;
}
body{ min-height: 100vh;}
body{ display:flex; flex-direction:column; }
main{ flex:1; margin: 0 0 2em 0; text-align: center;}


h1 a{
  text-decoration: none;
  color: black;
  font-family: 'Jura', sans-serif;
  font-weight: lighter;
  font-size: 1em;
}
h1{
  border-bottom: 1px solid black;
  width: fit-content;
  margin-bottom: 2em;
}
input[type="button"]{
  padding: 0 1em;
  font-size: 1.1em;
  font-family: 'Jura', sans-serif;
  background-color: white;
  border: 1px solid black;
  min-height: 60px;
  cursor: pointer;
}
section>div{
  display: flex;
  column-gap: 4em;
  justify-content: space-around;
}
section div div{
  display: flex;
  column-gap: 2em;
  border-bottom: 1px solid black;
}
section{
  padding: 2em;
  box-shadow: 5px 10px 20px 0 rgba(0,0,0,.1);
}
p{
  font-size: 1.2em;
}
main>input{
  margin-top: 2em;
}